Repository NVIDIA-NeMo/Megatron-Bridge, pull requests merged in 2025-10, with the labels that each got.

#833 ci: Skip if `docs-only` label is attached
  .github/workflows/build-docs.yml
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/cicd-main.yml
  .github/workflows/copyright-check.yml
  .github/workflows/install-test.yml
Labels: r0.1.0, docs-only

#835 ci: Skip if `docs-only` label is attached (#833)
  .github/workflows/build-docs.yml
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/cicd-main.yml
  .github/workflows/copyright-check.yml
  .github/workflows/install-test.yml
Labels: docs-only

#843 cp: `ci(fix): pre-flight (842)` into `r0.1.0`
  .github/workflows/build-docs.yml
  .github/workflows/build-test-publish-wheel.yml
  .github/workflows/cicd-main.yml
  .github/workflows/copyright-check.yml
  .github/workflows/install-test.yml
Labels: Run CICD, cherry-pick

#822 [docs] Packed sequences
  docs/index.md
  docs/training/packed-sequences.md
Labels: documentation, docs-only

#796 [docs] placeholder page for performance summary
  docs/index.md
  docs/performance-summary.md
Labels: documentation

#804 support async saving for CI end to end testing
  tests/end_to_end_tests/train_from_recipe.py
Labels: testing

#730 [docs] Add NeMo2 -> Megatron Bridge guide
  docs/index.md
  docs/nemo2-migration-guide.md
Labels: documentation, docs-only

#875 removed dependencies
  pyproject.toml
Labels: community-request

#883 Llmb r0.1.0
  scripts/performance/configs/llama3/llama3_70b_llm_pretrain.yaml
  scripts/performance/configs/llama3/llama3_8b_llm_pretrain.yaml
  scripts/performance/run_script.py
  scripts/performance/setup_experiment.py
Labels: community-request

#862 Add 0.1.0rc3 changelog
  CHANGELOG.md
Labels: r0.1.0, docs-only

#889 Cherry-pick `Add 0.1.0rc3 changelog (#862)` into `r0.1.0`
  CHANGELOG.md
Labels: docs-only

#885 [docs] Add docs for inproc restart
  docs/training/resiliency.md
Labels: documentation, docs-only
